html, body {
    height: auto;
}
#wrapper{
    background: url('img/building.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
 #heading1 {
     font-family: 'Quicksand', sans-serif;
     font-size: 100px;
     text-align: center;
     background: rgba(255, 255, 255, 0.9);
     color: black;
     font-weight: bold;
     margin: 0 auto;
     padding: 10px;
     width: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     mix-blend-mode: screen
 }
 #whoami {
     margin-left: 640px;
     margin-top: 380px;
 }
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: rgba(255, 255, 255, 0.8); !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

section {
    padding: 60px 0;
    margin-top: 200px;
}

section .section-title {
    text-align: center;
    color: #808080;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #808080 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #808080 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    font-size: 18px;
    background-color: transparent;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

#footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: white;
    border-top: .05rem solid #e5e5e5;
}
 #facebookicon {
     height: 35px;
     width: 35px;
     margin-right: auto;
     margin-left: auto;

 }
#instagramicon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
}
#snapchaticon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
}
#linkedinicon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
}
#infocard1 {
    width: 600px;
    margin-top: -150px;
    margin-left: 650px;

}
#devphoto {
    width: 200px;
    height: 200px;
    margin-top: 150px;
    margin-left: 350px;
    border-radius: 50%;

}

#circles {
    margin-left: 530px;
    margin-top: 30px;
}
#circles hr {
    color: white;
    height: 0.8px;
    border: none;
    width: auto;
    margin-left: -630px;
    background-color: white;
    margin-top: 80px
}

.label {
    background: white;
    display:inline-block;
    border-radius: 12px;
    color: black;
    height: 28px;
    padding: 3px 8px 3px 6px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#langauges h1 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: -190px;
    margin-left: 520px;
}
#langauges hr {
    color: white;
    height: 1px;
    border: none;
    background-color: white;
    margin-top: 190px
}
#cardbackground {
    width: 958px;
    height: 330px;
    margin-top: -250px;
    margin-left: 280px;
    background: rgba(255, 255, 255, 0.2);

}
#info {
    margin-top: 10px;
    margin-left: -45px;
}
#controller1 {
    margin-top: 100px;
    width: 700px;
    margin-left: 400px;
}
